<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        <p class="mb-0">&copy; {{ "now"|date("Y") }} Rutas vivias. Todos los derechos reservados </p>
    </div>
</footer>